
.title-large-light {
    color: rgba(255, 255, 255, 0.5);
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;   
}


.bg-dark {
    color:#fff;
    --background: var(--ion-color-warning-contrast) url('assets/gradient-cloud-img.png') no-repeat top center /contain;
}

.user-avatar {
    width: 30px;
    height: 30px;
}

.user-card {
    --background: trasparent;
    color: var(--ion-text-color);
    box-shadow: none;
}

.btn-add-user {
    background: transparent;
   
}

.btn-add-user {
    --background-hover: red;
}

.btn-add-new {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    position: fixed;
    bottom: 50px;
    right: 50px;
    background: linear-gradient(225deg, #087AFF 21.7%, #72EAB5 100.34%);
    color: white;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.btn-add-new img {
    width: 15px;
    max-width: fit-content;
}

ion-card-title {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;

}

ion-card-header {
    padding: 0;
    margin:0;
    margin-bottom: 6px;
    margin-left: 3px;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
}

ion-col,
ion-grid,
ion-card,
ion-card-content {
    padding-inline-start:0;
    padding-inline-end: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-inline: 0;
}